body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100vh;
    width: 100vw;
}

.separateur {
    margin-top: auto;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 3px solid black;
  
    width: 0;
    animation: 1s ease-out forwards separation;
}

.miniSep {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bot {
    margin-top: 15px;
    margin-bottom: auto;
}

.top {
    margin-top: auto;
    margin-bottom: 15px;
}

@keyframes separation {
    0% {
      width: 0;
    }
    100% {
      width: 95%;
    }
}
/*----- Nav bar -----*/

#navbar {
    position: sticky;
    top: 0;
    text-align: center;
}
  
#navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline-block;
}

#navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    opacity: 25%;
}

/*----- Accueil -----*/

.box {
    overflow: auto;
    position: flex;
    text-align: center;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    height: 80%;
    width: 80%;
    --c: black; /* the border color */
    --b: 5px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    
}
.box:hover{
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

/*----- Projets -----*/

.box.pro{
    overflow: visible;
}

:root {
    --col1: 1fr;
    --col2: 1fr;
    --col3: 1fr;
    --row1: 1fr;
    --row2: 1fr;
    --row3: 1fr;
    --cl-main: grey;
    --cl-text: black;
}

.projets {
    display: grid;
    grid-template-columns: var(--col1) var(--col2) var(--col3);
    grid-template-rows: var(--row1) var(--row2) var(--row3);
    height: 100%;
    transition: all .2s;
}

.projets:has(.projet:nth-child(3n+1):hover) {
    --col1: 2fr;
}

.projets:has(.projet:nth-child(3n+2):hover) {
    --col2: 2fr;
}

.projets:has(.projet:nth-child(3n+3):hover) {
    --col3: 2fr;
}
.projets:has(.projet:nth-child(n+1):nth-child(-n+3):where(:hover, :focus)) {
    --row1: 2fr;
}
.projets:has(.projet:nth-child(n+4):nth-child(-n+6):where(:hover, :focus)) {
    --row2: 2fr;
}

.projets:has(.projet:nth-child(n+7):nth-child(-n+9):hover) {
    --row3: 3fr;
}

.projet {
    display: grid;
    transition: scale .2s;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--cl-text);
    background-color: var(--cl-main);
    
}

.projet:where(:hover, :focus) {
    scale: 1.3;
    z-index: 2;
    box-shadow:0 0 50px 20px rgba(0, 0, 0, 0.5);
}

.projet > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.hiddenText {
    display:none;
}

.projet:hover{
    background-color: rgb(159, 159, 159);
}

.projet:hover > img {
    display:none;
}

.projet:hover .hiddenText{
    display: block;
}

.btnProjet {
    font-family: monospace;
    font-weight: 500;
    font-size: 14px;
    background-color: #808080;
    padding: 10px 15px;
    border: solid #808080 2px;
    box-shadow: none;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.btnProjet:hover{
    transition : 0.5s;
    padding: 10px 35px;
    transform : translateY(-0px);
    background-color: #fff;
    color: black;
    border: solid 2px black;
}

/*----- Contact -----*/

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.containerform {
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    width: 50%;
    display: inline-block;
}


/*----- footer -----*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.copyright {
    margin-top: 10px;
}
.mentions {
    text-align: center;
    margin-top: 10px;
}
footer img {
    margin-right: 10px;
    float: right;
    padding: 10px;
    width: 20px;
    height: 20px;
}
.column {
    width: 100%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*----- Info -----*/
.dlCV {
    margin-top: 15px;
    font-family: monospace;
    font-weight: 500;
    font-size: 14px;
    background-color: #808080;
    padding: 10px 15px;
    border: solid #808080 2px;
    box-shadow: none;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.dlCV:hover{
    transition : 0.5s;
    padding: 10px 35px;
    transform : translateY(-0px);
    background-color: #fff;
    color: black;
    border: solid 2px black;
}

/*----- Veille -----*/
.gridVeille {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.gridVeille img {
    padding: 10px;
    width: 50px;
    height: 50px;
}